@charset "UTF-8";

body{
	background-image: url("../img/haikei1.jpg");
    background-size: cover;
    background-color: #EEF3F9;
    
<<<<<<< HEAD
}
=======
}

>>>>>>> branch 'main' of git@github.com:tanumahikaru/muscle-training-app.git
