@charset "UTF-8";

.form-buttons {
  display: flex;
  justify-content: space-between;
  align-items: stretch; /* 高さを揃える */
  margin-bottom: 20px; /* ボタンと下部の余白を追加 */
}

/* button-styles.css */
.button-outline {
  flex: 1; /* フレックスアイテムが均等に幅を分ける */
  box-sizing: border-box; /* border, padding を含めたボックスモデルを使用 */
  display: inline-block;
  font-size: 1rem;
  padding: 0.5em 1em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border: 2px solid #6fa24a; /* アウトラインの色を指定 */
  border-radius: 0rem;
  background-color: transparent; /* 背景色を透明に設定 */
}

.button-outline:hover {
  background-color: #fafad2;
}

/*----------------------------------------------
type2
----------------------------------------------*/
.card-container.type2 {
  display: flex;
  flex-wrap: wrap; /* 複数行に折り返す */
  justify-content: flex-start; /* カードを左寄せに */
  gap: 20px; /* カードの間隔（必要に応じて調整） */
  margin-left: 20px; /* 左端から10pxずらす（必要に応じて調整） */
}

.card-container.type2 .card-body {
  width: calc(20% - 30px); /* カードの幅（5つ横に並べるために調整） */
  margin-bottom: 20px; /* カードの下部に20pxの余白を追加 */
  border: 2px solid #6fa24a;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 15px;
  overflow: hidden; /* カード内の余分な部分を隠す */
  display: flex;
  flex-direction: column; /* これを追加してフレックスコンテナにする */
  text-align: center; /* テキストを中央揃えに */
}

.card-container.type2 .card-body img {
  flex: 1; /* これにより画像が利用可能なスペースを占めるようになります */
  width: 100%; /* カード内に収めるために横幅を100%に */
  height: 100%; /* カード内に収めるために高さを100%に */
  object-fit: cover; /* アスペクト比を保ちつつカード内に画像をフィットさせる */
  display: block; /* 不要な余白を削除するためにブロック要素に変更 */
  margin: 0 auto; /* カード内で水平方向に中央寄せ */
}

.card-container.type2 .card-body h2,
.card-container.type2 .card-body h1 {
  margin: 0; /* マージンをリセットして余白を削除 */
}

/* a タグを中央に寄せるための親要素のスタイル */
.centered-link-container {
    text-align: center;
}

/* a タグのスタイル */
.centered-link-container a {
    display: inline-block;
    height: 50px; /* 例: 適切な高さに調整 */
    width: 150px; /* 例: 適切な幅に調整 */
    line-height: 50px; /* 高さと同じ値に設定して中央に寄せる */
    border-radius: 25px;
    border-color: #f0f0f0;
    background-color: #2941bc;
    color: white;
    margin-left: 10px;
    text-decoration: none;
    text-align: center; /* テキストを中央寄せにする */
}

.search-menu {
  display: flex; /* 横並びにする */
  justify-content: center; /* 中央寄せ */
  align-items: center; /* 縦方向に中央寄せ（必要に応じて追加） */
  padding: 20px;
}

.search-menu input[type="text"] {
  width: 300px;
  padding: 8px;
  font-size: 12px;
}

.search-menu input[type="submit"] {
  margin-left: 10px; /* ボタンと入力欄の間に余白を追加 */
  padding: 8px 25px;
  font-size: 12px;
  height: 35px;
  background-color: #6fa24a;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-menu input[type="submit"]:hover {
  background-color: #4c8031;
}

.link_title {
	text-decoration: none; /* 下線をなしにする */
}