@charset "UTF-8";

/* button-styles.css */
.button-outline {
  display: inline-block;
  font-size: 1rem;
  padding: 0.5em 1em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border: 2px solid #6fa24a; /* アウトラインの色を指定 */
  border-radius: 0rem;
  background-color: transparent; /* 背景色を透明に設定 */
}

.button-outline:hover {
  background-color: #dcedd2;
}

/*----------------------------------------------
type2
----------------------------------------------*/
.card-container.type2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px; /* カードの間隔 */
}

.card-body {
  width: 200px; /* カードの幅 */
  height: 100%; /* カードの高さを100%に指定 */
  border: 2px solid #6fa24a;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 15px;
  overflow: hidden; /* カード内の余分な部分を隠す */
  display: flex;
  flex-direction: column; /* これを追加してフレックスコンテナにする */
}

.card-body img {
  flex: 1; /* これにより画像が利用可能なスペースを占めるようになります */
  width: 100%; /* カード内に収めるために横幅を100%に */
  height: 100%; /* カード内に収めるために高さを100%に */
  object-fit: cover; /* アスペクト比を保ちつつカード内に画像をフィットさせる */
  display: block; /* 不要な余白を削除するためにブロック要素に変更 */
  margin: 0 auto; /* カード内で水平方向に中央寄せ */
}

.card-button {
  display: inline-block;
  padding: 7px 20px;
  background: rgb(55, 55, 55);
  font-size: 1rem;
  color: #FCFCF5;
  margin-top: auto; /* ボタンを下部に配置する */
  text-decoration: none;
  border: 2px solid #6fa24a;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.card-header img {
  width: 50px;
  height: 50px;
}

