@charset "utf-8";
body {
    font-size: 18px;
}

#main-contents {
    margin: 20px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    font-family: 'メイリオ', 'Meiryo', sans-serif;
}

#left-contents {
    text-align: center;
}

.title {
    margin-top: 20px;
    text-align: left;
}

#right-contents {
    text-align: center;
    padding-left: 40px;
}

#meal-img {
    width: 640px;
}

#menu-title {
    font-size: 36px;
}

.back-button {
    height: 50px;
    width: 150px;
    border-radius: 25px;
    border-color: #f0f0f0;
    background-color: #2941bc;
    color: white;
    text-align: center;
    margin-left: 400px;
}

#nutrients {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
}

.materials{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 16px;
}

#option {
    margin: 30px auto;
    background-color: white;
    text-align: center;
    width: 530px;
    height: 400px;
}

.button-group {
    margin-left: 20px;
    display: flex;
    gap: 20px;
}
.button-group button {
    height: 40px;
    border: black 1px solid;
}

.add-button {
    height: 50px;
    width: 150px;
    border-radius: 25px;
    border-color: #f0f0f0;
    background-color: #2941bc;
    color: white;
    text-align: center;
}

.ol{
	text-align: left;
}

/* a タグを中央に寄せるための親要素のスタイル */
.centered-link-container {
    text-align: center;
}

/* a タグのスタイル */
.centered-link-container a {
    display: inline-block;
    height: 50px; /* 例: 適切な高さに調整 */
    width: 150px; /* 例: 適切な幅に調整 */
    line-height: 50px; /* 高さと同じ値に設定して中央に寄せる */
    border-radius: 25px;
    border-color: #f0f0f0;
    background-color: #2941bc;
    color: white;
    margin-left: 10px;
    text-decoration: none;
    text-align: center; /* テキストを中央寄せにする */
}

#addButton {
    display: inline-block;
    height: 50px; /* 適切な高さに調整 */
    width: 150px; /* 適切な幅に調整 */
    line-height: 50px; /* 高さと同じ値に設定して中央に寄せる */
    border-radius: 25px;
    border: 1px solid #f0f0f0; /* ボーダーカラーを適用 */
    background-color: #2941bc;
    color: white;
    text-decoration: none;
    text-align: center; /* テキストを中央寄せにする */
    cursor: pointer; /* カーソルをポインターに変更 */
    margin-left: 10px; /* 任意のマージンを追加 */
}

#addButton:hover {
    background-color: #1d327a; /* ホバー時の背景色を変更 */
}
