@charset "utf-8";
body {
    font-size: 18px;
}

#main-contents {
    margin: 20px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    font-family: 'メイリオ', 'Meiryo', sans-serif;
}

#left-contents {
    text-align: center;
}

.title {
    margin-top: 20px;
    text-align: left;
}

#right-contents {
    text-align: center;
    padding-left: 40px;
}

#meal-img {
    width: 640px;
}

#menu-title {
    font-size: 36px;
}

.back-button {
    height: 50px;
    width: 150px;
    border-radius: 25px;
    border-color: #f0f0f0;
    background-color: #2941bc;
    color: white;
    text-align: center;
    margin-left: 400px;
}

#nutrients {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
}

.materials{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 16px;
}

#option {
    margin: 30px auto;
    background-color: white;
    text-align: center;
    width: 530px;
    height: 400px;
}

.button-group {
    margin-left: 20px;
    display: flex;
    gap: 20px;
}
.button-group button {
    height: 40px;
    border: black 1px solid;
}

.add-button {
    height: 50px;
    width: 150px;
    border-radius: 25px;
    border-color: #f0f0f0;
    background-color: #2941bc;
    color: white;
    text-align: center;
}

.ol{
	text-align: left;
}