@charset "UTF-8";
/* #containerに追加するスタイル */
#container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* 上寄せに変更 */
    flex-wrap: wrap; /* flexアイテムを折り返し表示する */
}

.content {
    box-sizing: border-box; /* ボーダーボックスモデルを適用 */
    width: 45%;
    margin-left: 60px; /* 下側のマージンを追加 */
}

.content-container {
    box-sizing: border-box; /* ボーダーボックスモデルを適用 */
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 45%;
    margin-bottom: 20px; /* 下側のマージンを追加 */
    margin-right: 50px; /* 下側のマージンを追加 */
}
/* 新しく作りたいメニューのスタイル */
.meal-entry {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.meal-entry p {
    margin: 0; /* デフォルトの段落の余白を削除 */
}

.meal-entry p:first-child {
    flex: 1; /* 最初の段落が利用可能なスペースを占めるようにする */
}

.meal-entry p.calorie {
    margin-left: 50px; /* カロリー表示と削除ボタンの隙間を調整 */
}

.meal-entry p:last-child {
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* 登録フォームのスタイル */
.underline-input-container {
    margin-bottom: 20px;
}

#meal-img {
    max-width: 530px; /* 画像の最大幅を指定 */
    height: auto; /* アスペクト比を維持しつつ、高さを自動調整 */
    display: block; /* 不要な余白を削除するために追加 */
    margin: 0 auto; /* 画像を中央に配置するために追加 */
}
    
/* a タグを中央に寄せるための親要素のスタイル */
.centered-link-container {
    text-align: center;
}

/* a タグのスタイル */
.centered-link-container a {
    display: inline-block;
    height: 50px; /* 例: 適切な高さに調整 */
    width: 150px; /* 例: 適切な幅に調整 */
    line-height: 50px; /* 高さと同じ値に設定して中央に寄せる */
    border-radius: 25px;
    border-color: #f0f0f0;
    background-color: #2941bc;
    color: white;
    margin-left: 10px;
    text-decoration: none;
    text-align: center; /* テキストを中央寄せにする */
}

/*ストライクカラーにするよ、a タグを中央に寄せるための親要素のスタイル */
.centered-link-container-strike {
    text-align: center;
}

.centered-link-container-strike a {
    display: inline-block;
    height: 50px; /* 例: 適切な高さに調整 */
    width: 150px; /* 例: 適切な幅に調整 */
    line-height: 50px; /* 高さと同じ値に設定して中央に寄せる */
    border-radius: 25px;
    border: 2px solid #000000; /* 枠線の色を黒色に変更 */
    background-color: #FFFF00; /* 背景色を黄色に変更 */
    color: #000000; /* 文字色を黒色に変更 */
    margin-left: 10px;
    text-decoration: none;
    text-align: center; /* テキストを中央寄せにする */
}


.delete-button {
    display: inline-block;
    padding: 3px 6px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    text-decoration: none;
    color: #555;
    margin-left: 10px; /* 任意のマージンを設定 */
}

.delete-button i {
    margin-right: 4px;
}

.delete-button:hover {
    background-color: #eee;
}
