@charset "UTF-8";

body {
	margin-bottom: 300px;;
}

.box {
	 width:360px;
     height:250px;
     background:white;
     margin-left: 440px;
}

.PasswordChange{
	margin-left: 93px;
}

.mail {
	margin-left: 60px;
	width: 230px;
}

p {
	margin-left: 57px;
	margin-bottom: -30px;
}

button {
	margin-left: 100px;
	margin-bottom: 70px;
	height: 50px;
    width: 150px;
    border-radius: 25px;
    border-color: #f0f0f0;
    background-color: #2941bc;
    color: white;
}

.send {
	margin-left: 100px;
	margin-top: 50px;
	height: 50px;
    width: 150px;
    border-radius: 25px;
    border-color: #f0f0f0;
    background-color: #2941bc;
    color: white;
}

.back {
	margin-top: 150px;
}

