@charset "UTF-8";

.signup-container {
  background-color: white;
  width: 600px;
  margin: 50px auto;
  padding: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

.password-container {
    position: relative;
}

 .password-input {
    padding-right: 30px; /* 目のアイコンの分のスペースを確保 */
}

 .toggle-password {
   	position: absolute;
   	top: 50%;
 	right: 10px;
	transform: translateY(-50%);
 	cursor: pointer;
	user-select: none;
}
/* 追加：ハンバーガーメニューのボタンスタイル */
.menu-btn {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
}

/* 追加：メニューが開いたときにボディをずらすスタイル */
.menu-open .header-container {
    margin-left: 250px;
}

/* 追加：ハンバーガーメニューのスタイル */
.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #333;
    padding: 15px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100%;
    width: 250px;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s;
}

.menu a {
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    transition: 0.3s;
}

.menu a:hover {
    background-color: #555;
}
