@charset "UTF-8";

body{
	background-image: url("../img/haikei1.jpg");
    background-size: cover;
    background-color: #EEF3F9;
    margin-top: 100px; /* 適宜調整してください */
}

.right {
    margin-left: 500px;
    text-align: right;
   
}

.header-banner {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  background-color: #2941BC;
  color: white;
  padding: 10px;
  text-align: left;
  margin: 0;
  overflow: hidden;
}

.header-banner h1 {
  margin: 0;
  margin-left: 50px; /* "筋トレ" テキストの位置 */
  position: relative; /* 相対位置指定を追加 */
  z-index: 1; /* ヘッダーを手前に持ってくる */
}
.box3{
	text-align: center;
	margin-top: 250px;
}
.signup-container{
	text-align: center;
	margin-top: 150px;

}