@charset "UTF-8";
/* 全体のフォントと背景色の設定 */
body {
    font-family: 'Arial', sans-serif;
    background: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* ヘッダーのスタイリング */
header {
    height: 80px;
    background-color: #3333cc;
    color: white;
    display: flex;
    justify-content: space-between;
}

.right {
    display: flex;
}

#user-level {
    font-size: 30px;
    margin: auto 20px;
}

.user-icon img {
    margin: auto 20px;
    height: 75px;
    width: 75px;
    border-radius: 30px;
    cursor: pointer; /* クリック可能なアイコンのための追加 */
}


/* メインコンテンツエリアのスタイリング */
main {
    text-align: center;
    color: #333;
    margin: 20px;
}

h1 {
    margin-bottom: 10px;
}

.menu-list {
    border-top: 2px solid red;

}

.menu-item {
    width: 800px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    border-bottom: 1px solid #ccc;
}

.icon {
    font-size: 32px;
    flex: 0 0 50px; /* アイコンのスペースを確保 */
}

.menu-info {
    text-align: left;
    flex-grow: 1; /* 情報部分がスペースを埋めるようにする */
    display: flex;
    justify-content: space-evenly; /* アイテムを均等に分散させる */
}

.menu-name, .menu-details {
    margin: 0 5px; /* 名前と詳細の間隔を設定 */
}

.start-button {
    background-color: #FFFF00;
    border: none;
    cursor: pointer;
    height: 36px;
    width: 80px;
    border-radius: 8px;
    color: black;
}

.start-button:hover {
    background-color: #e6b800;
}

.button-group button {
    height: 50px;
    width: 150px;
    border-radius: 25px;
    border-color: #f0f0f0;
    background-color: #2941bc;
    color: white;
    margin-left: 175px;
}
.button-group button:first-child {
    margin: 0;
}

