/* 全体のフォントと背景色の設定 */
body {
    font-family: 'Arial', sans-serif;
    background: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
}


h2 {
    font-size: 36px;
}

#total_cal{
    font-size: 60px;
}

.training{
    padding: 10px 20px;
    margin: 0 auto 10px;
    width: 800px;
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-color: black;
    font-size: 18px;
}